version: '3.8'

services:
  app:
    build: .
    container_name: readzen_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    env_file:
      - ../.env
    environment:
      - ENVIRONMENT=development
    restart: unless-stopped
